<div id="page-container">

  <h1 class="text-center">Articles</h1>

  <div id="articles">
    <!-- TODO: render collection-->
    <% @articles.each do |article| %>
      <%= render article %>
    <% end %>
  </div>
</div>
