<h1 class="text-center mt-4">Categories</h1>

<div class="container">
  <% @categories.each do |category| %>
    <%= render category %>
    <div class="card-footer text-muted">
      <small>
        Created <%= time_ago_in_words(category.created_at) %> ago, Edited <%= time_ago_in_words(category.updated_at) %> ago
      </small>
    </div>
  <% end %>
</div>
